/*Text*/
.pingheading h1 {
    font-family: 'Inter';
    font-weight: 800;
    color: black;
}
.pingheading p {
    font-family: 'Inter';
    font-weight: 700;
    color: #7d7d7d;
}
/*Table*/
.table .thead-odms th {
    color: #ffea00;
    background-color: #212529;
    border-color: #32383e;
}
/*Media Queries*/
@media (max-width: 576px) {
    .pingheading h1 {
        font-size: 1.5rem;
    }

    .pingheading p {
        font-size: 0.875rem;
    }
}
/* 576px and up */
@media (min-width: 576px) {
    .pingheading h1 {
        font-size: 1.5rem;
    }

    .pingheading p {
        font-size: 0.875rem;
    }

}
@media (min-width: 768px) {
    .pingheading h1 {
        font-size: 2.5rem;
    }

    .pingheading p {
        font-size: 0.9375rem;
    }
}

@media (min-width: 992px) { 
    .pingheading h1 {
        font-size: 2.5rem;
    }

    .pingheading p {
        font-size: 1rem;
    }
}    