
    h1.small{line-height:20%}
    h2.small{line-height: 10%}

    body {
    background-color: white;
    margin-left: 10px;
    }

  .collapsible {
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-weight: bold;
    }

  .active, .collapsible:hover {
    background-color: #FFFF00;
    color: black;
    font-size: 20px;
    font-weight: bold;
    }


  .collapsible:after {
    content: '\25BC';
    color: #FFFFFF,#000000;//blackandwhite
    font-weight: normal;
    float: right;
    margin-left: 5px;
    }

  .active:after {
    content: "\25B2";
    color: #000000;
  }

  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f2f2f2;
    }
  
  h1{
    font-family: Inter;
    font-size: 40px;
  }

  h2{
    font-family: Inter;
    font-size: 20px;
  }

  p{
    text-align: justify;
    text-indent: 50px;
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
  }

  button{
    font-family: Inter;
    font-weight: 200;

    // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) and (max-width: 767.98px) {
   }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) and (max-width: 991.98px) { ... }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) and (max-width: 1199.98px) { ... }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) { ... }
  }